<div fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="60">
    <mat-toolbar color="warn">
      <span class="fill-remaining-space">Create Inventory Form</span>
    </mat-toolbar>
    <mat-card>
      <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">

        <div fxLayout="column">
          <mat-form-field >
            <mat-label>Name</mat-label>
            <input formControlName="CategoryName" matInput type="text">
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field >
            <mat-label>Description</mat-label>
            <input formControlName="Description" matInput type="text">
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Quantinty</mat-label>
            <input formControlName="Quantity" matInput type="number">
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Instock</mat-label>
            <select formControlName="InStock" matNativeControl>
              <option value="" selected>Select option</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <button [disabled]="!inventoryForm.valid" class="waves-effect waves-light" mat-raised-button color="accent" type="submit">CREATE</button>
          <button [routerLink]="['/list']" class="waves-effect waves-light grey " mat-raised-button type="submit">BACK</button>
        </div>

      </form>
    </mat-card>
  </div>
</div>
