
 mat-card{
  width: 60%;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
 }

 table {
  width: 100%;
  height: auto;
}

.mat-form-field {
  width: 100%;
  padding-bottom: 2rem;
}

/* .tooltip-red {
  background: #b71c1c;
} */

::ng-deep .example-tooltip-red {
  background: #b71c1c;
}

::ng-deep .example-tooltip-yellow {
  background: #cb5b00;
}
