<mat-card>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="warn">
      <span class="fill-remaining-space">Inventory Details</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>Category Name: {{ inventory.CategoryName }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Description: {{ inventory.Description }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Quantity: {{ inventory.Quantity }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>In Stock: {{ inventory.InStock }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Date Received: {{ inventory.DateReceived | date:'short'}}</mat-list-item>
    </mat-list>
    <hr>
    <button
      [routerLink]="['/list']"
      class="waves-effect waves-light grey"
      mat-raised-button
      color="accent"
      type="submit">
      BACK
    </button>
  </div>
</mat-card>
