<mat-card>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="warn">
      <span class="fill-remaining-space">Update Inventory Form</span>
    </mat-toolbar>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="CategoryName" matInput type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input formControlName="Description" matInput type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Quantinty</mat-label>
          <input formControlName="Quantity" matInput type="number" />
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Instock</mat-label>
          <select formControlName="InStock" matNativeControl>
            <option value="" selected>Select option</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <button
          [disabled]="!editForm.valid"
          class="waves-effect waves-light"
          mat-raised-button
          color="accent"
          (click)="openSnackBar()"
          type="submit"
        >
          UPDATE
        </button>
        <button
          [routerLink]="['/list']"
          class="waves-effect waves-light grey"
          mat-raised-button
          type="submit"
        >
          BACK
        </button>
      </div>
    </form>
  </div>
</mat-card>
