.body {
    background-color: blanchedalmond;
}

.title {
    text-decoration: underline;
    padding-bottom: 1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

